<div class="layout-holder">
    <div class="layout-holder__banner">
        <div class="layout-holder__banner__basic"></div>
    </div>
    <div class="layout-holder__content">
        <app-header></app-header>
        <div class="layout-holder__content__body flex flex-center flex-middle">
            <div class="action-status">
                <div class="action-status__img">
                    <img src="assets/images/illustration/success.svg" class="img-fluid" alt="success">
                </div>
                <div class="action-status__info m-t-32 m-b-32">
                    <h3 class="action-status__info__title">Sorğunuz uğurla tamamlandı.</h3>
                </div>
                <a href="#" class="btn btn-fluid btn-primary">ANA SƏHİFƏ</a>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>